/* line 3, ../SCSS/style.scss */
body {
  background-color: #bababa;
}

/* line 7, ../SCSS/style.scss */
.container {
  max-width: 70vw;
  margin: 0 auto;
}

/* line 11, ../SCSS/style.scss */
.section {
  width: 100%;
  max-width: 1600px;
  min-width: 960px;
  z-index: 0;
  position: relative;
  margin: 0 auto;
  padding: 0 0 20px 0;
  min-height: 50vh;
}

/* line 21, ../SCSS/style.scss */
.inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: 50px;
  padding: 30px 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 31, ../SCSS/style.scss */
.inner:after {
  content: "";
  clear: both;
}

/* line 36, ../SCSS/style.scss */
.subMenu {
  height: 50px;
  z-index: 1000;
  width: 100%;
  background: #0977bc;
}

/* line 42, ../SCSS/style.scss */
.subMenu .inner {
  display: flex;
  padding: 0;
  font-weight: 400;
  margin: 0 auto;
}

/* line 48, ../SCSS/style.scss */
.subNavBtn {
  flex: 1;
  height: 35px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 14px;
  padding: 15px 2% 0 2%;
  text-align: center;
  color: #fff;
}
/* line 58, ../SCSS/style.scss */
.subNavBtn:hover {
  background: #1783c7;
}

/* line 62, ../SCSS/style.scss */
.active {
  background: #25aae1;
}

/* line 65, ../SCSS/style.scss */
.end {
  margin: 0;
}

/* line 68, ../SCSS/style.scss */
.sTop {
  min-height: 130px;
  background: #fff;
  color: #3d3d3d;
  padding: 50px 0;
  height: 300px;
}

/* line 75, ../SCSS/style.scss */
.s1 {
  background: #184764;
  color: #fff;
}

/* line 79, ../SCSS/style.scss */
.s2 {
  background: #313131;
}

/* line 83, ../SCSS/style.scss */
.s3 {
  background: #1b83b3;
}

/* line 86, ../SCSS/style.scss */
.s4 {
  background: #5aa3c4;
}

/* line 89, ../SCSS/style.scss */
.s5 {
  background: #bce1f1;
  color: #3d3d3d;
}

/* line 93, ../SCSS/style.scss */
.s6 {
  background: #161616;
}
