/* line 3, ../SCSS/style.scss */
body {
  background-color: bada55;
}

/* line 6, ../SCSS/style.scss */
.container {
  max-width: 70vw;
  margin: 0 auto;
}

/* line 10, ../SCSS/style.scss */
.section {
  width: 100%;
  max-width: 1600px;
  min-width: 960px;
  z-index: 0;
  position: relative;
  margin: 0 auto;
  padding: 0 0 20px 0;
  min-height: 50vh;
}

/* line 20, ../SCSS/style.scss */
.inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: 50px;
  padding: 30px 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 30, ../SCSS/style.scss */
.inner:after {
  content: "";
  clear: both;
}

/* line 35, ../SCSS/style.scss */
.subMenu {
  height: 50px;
  z-index: 1000;
  width: 100%;
  background: #0977bc;
}

/* line 41, ../SCSS/style.scss */
.subMenu .inner {
  display: flex;
  padding: 0;
  font-weight: 400;
  margin: 0 auto;
}

/* line 47, ../SCSS/style.scss */
.subNavBtn {
  flex: 1;
  height: 35px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 14px;
  padding: 15px 2% 0 2%;
  text-align: center;
  color: #fff;
}
/* line 57, ../SCSS/style.scss */
.subNavBtn:hover {
  background: #1783c7;
}

/* line 61, ../SCSS/style.scss */
.active {
  background: #25aae1;
}

/* line 64, ../SCSS/style.scss */
.end {
  margin: 0;
}

/* line 67, ../SCSS/style.scss */
.sTop {
  min-height: 130px;
  background: #fff;
  color: #3d3d3d;
  padding: 50px 0;
  height: 300px;
}

/* line 74, ../SCSS/style.scss */
.s1 {
  background: #184764;
  color: #fff;
}

/* line 78, ../SCSS/style.scss */
.s2 {
  background: #313131;
}

/* line 81, ../SCSS/style.scss */
.s2 a {
  color: #fff;
}

/* line 84, ../SCSS/style.scss */
.s3 {
  background: #1b83b3;
}

/* line 87, ../SCSS/style.scss */
.s4 {
  background: #5aa3c4;
}

/* line 90, ../SCSS/style.scss */
.s5 {
  background: #bce1f1;
  color: #3d3d3d;
}

/* line 94, ../SCSS/style.scss */
.s6 {
  background: #161616;
}
